<?xml version="1.0" encoding="UTF-8"?>
<!--
	$LastChangedBy$
	$LastChangedDate$
	$Rev$
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="productAction"
		class="com.googlecode.simplelife.product.business.ProductAction"
		scope="prototype">
		<property name="productDao" ref="productDao" />
		<property name="photoDao" ref="photoDao" />
		<property name="pagination">
			<bean
				class="com.googlecode.simplelife.product.dao.Pagination">
				<property name="no" value="1" />
				<property name="size" value="6" />
			</bean>
		</property>
	</bean>

	<bean id="productDao"
		class="com.googlecode.simplelife.product.business.ProductDaoImpl"
		parent="dao">
		<property name="type"
			value="com.googlecode.simplelife.product.business.Product" />
	</bean>

	<bean id="photoDao"
		class="com.googlecode.simplelife.product.business.PhotoDaoImpl"
		parent="dao">
		<property name="type"
			value="com.googlecode.simplelife.product.business.Photo" />
	</bean>

</beans>