<?xml version="1.0" encoding="UTF-8"?>
<!--
	$LastChangedBy$
	$LastChangedDate$
	$Revision$
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- 属性文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>WEB-INF/config.properties</value>
		</property>
	</bean>

	<!-- 导入其他组件的配置 -->
	<import
		resource="classpath:com/googlecode/simplelife/product/business/config.xml" />
	<import
		resource="classpath:com/googlecode/simplelife/product/dao/config.xml" />

	<!-- 有关hibernate映射文件的配置 -->
	<bean id="mappingResources" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>
					com/googlecode/simplelife/product/business/product.hbm.xml
				</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- 有关datasource的配置 -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${driverClass}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />
		<property name="user" value="${user}" />
		<property name="password" value="${password}" />

		<property name="initialPoolSize" value="1" />
	</bean>

	<tx:annotation-driven proxy-target-class="true" />
</beans>